<div class="row">
    <div class="col-md-6" ng-repeat="permissionName in permissions">

        <div class="checkbox" style="margin-top: 0px; text-transform: capitalize;">
            <label>
                <input
                    type="checkbox"
                    name="selectedPermissions[]"
                    value="{{permissionName}}"
                    ng-checked="member.admin_permissions.indexOf(permissionName) > -1"
                    ng-click="toggleSelection(permissionName)"
                  > {{permissionName}}
            </label>
        </div>      


    </div>

</div>
